<h1>Showing selected article:</h1>

<h4>Title: <%= @article.title %></h4>
<p><b>Description:</b><br/><%= @article.description %></p>
<p><%= link_to "Edit this article", edit_article_path(@article) %></p>
<%= render 'back' %>